################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sat.Recruitment.Api/obj
/Sat.Recruitment.Api/bin/Debug/net6.0
/Sat.Recruitment.Test/bin/Debug/net6.0
/Sat.Recruitment.Test/obj
